body{
  margin-top:120px;

}

h1{
  margin-left:100px ;
  font-family:Tahoma;
}


.img{
width:30%;
height: 35vw;
object-fit:cover; 

}

.image-2x {
  margin-top: 100px;
  margin-left:800px;
  margin-bottom: 100px;;
  scale: 2
}